# 4.6. Combining and exporting data in pickle format: Part 1 <br>
### ('orders' and 'orders_prior' datasets)

# List of contents:
## 1. Import libraries
## 2. Import 'orders_clean' and 'orders_products_prior' datasets
## 3. Data consistency checks for df_ords_prior
## 4. Merge dataframes
## 5. Export merged dataframe as 'orders_products_combined'
#

## 1. Import libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

## 2. Import 'orders_clean' and 'orders_products_prior' datasets

### -  orders_clean dataset

In [2]:
# Create path variable
path = r'C:\Users\marta\OneDrive\Documents\2023-09-18 Instacart Basket Analysis'

In [3]:
# Import orders_clean dataset as df_ords
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_clean.csv'), index_col = False)

In [4]:
# Removing 'Unnamed: 0' column from df_ords
df_ords = df_ords.drop(columns = ['Unnamed: 0'])

In [5]:
# Dimensions of df_ords
df_ords.shape

(3421083, 6)

In [6]:
# Display first 5 rows of df_ords
df_ords.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

###    - orders_products_prior dataset

In [7]:
# Import orders_products_prior dataset as df_ords_prior
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data','Original Data', 'orders_products_prior.csv'), index_col = False)

In [8]:
# Dimensions of df_ords_prior
df_ords_prior.shape

(32434489, 4)

In [9]:
# Display first 5 rows of df_ords_prior
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

## 3. Data consistency checks for df_ords_prior

### -- Check for missing values

In [12]:
# Checking for missing values within df_ords_prior
df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

#### No missing values found.

### -- Check for duplicates

In [13]:
# Duplicates checks within df_ords_prior
df_dups_ords_prior = df_ords_prior[df_ords_prior.duplicated()]

In [14]:
# Check the output
df_dups_ords_prior

Empty DataFrame
Columns: [order_id, product_id, add_to_cart_order, reordered]
Index: []

#### No duplicate rows found.

### -- Check for mixed-type data

In [15]:
# Checking for mixed types
for col in df_ords_prior.columns.tolist():
  weird = (df_ords_prior[[col]].applymap(type) != df_ords_prior[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords_prior[weird]) > 0:
    print (col)

#### No mixed-type data found.

## -- Descriptive statistics

In [17]:
# Descriptive statistics for df_ords_prior
df_ords_prior.describe()

           order_id    product_id  add_to_cart_order     reordered
count  3.243449e+07  3.243449e+07       3.243449e+07  3.243449e+07
mean   1.710749e+06  2.557634e+04       8.351076e+00  5.896975e-01
std    9.873007e+05  1.409669e+04       7.126671e+00  4.918886e-01
min    2.000000e+00  1.000000e+00       1.000000e+00  0.000000e+00
25%    8.559430e+05  1.353000e+04       3.000000e+00  0.000000e+00
50%    1.711048e+06  2.525600e+04       6.000000e+00  1.000000e+00
75%    2.565514e+06  3.793500e+04       1.100000e+01  1.000000e+00
max    3.421083e+06  4.968800e+04       1.450000e+02  1.000000e+00

## 4. Merge dataframes

In [32]:
# Merge df_ords_prior with df_ords
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [33]:
# Check the output
df_merged_large.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [34]:
# Frequency count of '_merge' column values
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [35]:
# Merged df dimensions
df_merged_large.shape

(32434489, 10)

## 5. Export ' df_merged_large' dataframe

In [36]:
# Export df_merged_large in pickle format
df_merged_large.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))